<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="homeContiainer">
        <div class="cardContainer">
            <div class="card">

            </div>
        </div>
    </div>
    <button><a href=""></a></button>
    <img src="/src/public/asset/img/card/card  1.jpeg">
    <img src="/src/public/asset/img/card/card  2.jpeg">
    <img src="/src/public/asset/img/card/card 3.jpeg">
    <img src="/src/public/asset/img/card/card 4.jpeg">
    <img src="/src/public/asset/img/card/card 5.jpeg">
</body>
</html>