<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/style.css">
    <link rel="manifest" href="/src/public/app.manifest.json">
    <title>Restaurant Catalog</title>
</head>
<body>
    <header>
        <nav>
            <div id="navbar" class="nav-proper">
                <img src="/src/public/asset/img/logo/logo.png" alt="Web Logo">
                <button id="nav-button" class="burger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>
            </div>
            <div class="nav-items">
                <a class="nav-item" href="#/">Home</a>
                <a class="nav-item" href="#/restaurant">catalogue</a>
                <a class="nav-item" href="#/try">Favorite</a>
                <a class="nav-item" href="#/about">About Us</a>
            </div>
        </nav>
        <div class="banner">
            <img src="/src/public/asset/img/hero/hero-image_2.jpg" alt="Banner">
        </div>
    </header>
    <main class="main-continer" id="mainContent">

    </main>
    <footer>

    </footer>
    <script src="/dist/app.bundle.js"></script>
</body>
</html>